body{
    margin: 0 auto;
    padding-top: 90px;  
    box-sizing: border-box;
    background-color: rgb(32,22,26);
}
.logo img{
    width: 150px;
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    top: -2px;
    
    /* box-shadow: 0 0 5px orangered; */
}
.firstdiv{
    background-color: rgb(6,0,3);
    position: relative;
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0 auto;
}
.firstdiv header{
    position: fixed;
    top: 0;
    background-color: rgb(6,0,3);
    
}
.map {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically if parent has height */
  margin-top: 40px;
}

.navlink{
    border-radius: 30px;
    background-color: rgb(32,22,26);
    padding: 20px 0px;
    width: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
    overflow-y: hidden;   
}
.navlink a{
    color: rgb(199, 199, 199);
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}
.navlink a:hover{
    color: white;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.Join{
    font-size: 15px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    position: absolute;
    background-color: orangered;
    left: 1000px;
    width: fit-content;
    font-weight: bold;
    z-index: 10;
    border-radius: 20px;

}
.container2{
     display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
}
.form{
    box-shadow: 0 0 5px rgb(182, 182, 182);
    width: fit-content;
    background-color: white;
    overflow: hidden;
    padding: 40px;
    padding-right: 40px;
    border-radius: 10px;
    margin-top: 30px;
}
.form h1{
    font-weight: bold;
        
}
.form input[type="email"]{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
        
}
.form input[type="text"]{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 20px;
        
}
.form textarea{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
        
}
.form button{
    background-color: blue;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
        
}
.form label{
    font-weight: bold;
    font-size: 15px;
        
}
.form p{
    color: gray;
        
}
.bottom{
    background-color:rgb(32,22,26) ;
    overflow-y: hidden;
    overflow-y: hidden;
    overflow: hidden;
        
}
.col1 h1{
    color: white;
    font-size: 35px;
    font-weight: bolder;
        
}
.col1 p{
    color: gray;
        
}
.col1{
    margin-top: 40px;
    margin-bottom: 40px;
        
}
.col2{
    margin-top: 40px;
    margin-bottom: 40px;
        
}
.col2 p{
    color: rgb(206, 206, 206);
    font-weight: bold;
        
}
.col2 li{
    color: white;
        
}
.col3{
    margin-top: 40px;
    margin-bottom: 40px;
        
}
.col3 p{
    color: rgb(206, 206, 206);
    font-weight: bold;
        
}
.col3 li{
    color: white;
        
}
.divider {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  width: 95%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1); /* soft light line */
}
.Copyright p{
    color: rgb(206, 206, 206);
    font-weight: bold;
    text-align: center;
        
}

.menu {
  color: white;
  font-size: 50px;
}
/* Optional: Adjust offcanvas look */
